nodered.json
[{"id":"b0a6267c.2dd1e8","type":"serial in","z":"690f8a21.bfbb44","name":"Gateway","serial":"b14ddf3b.d969","x":400,"y":240,"wires":[["8e860f13.f24e2","16ecb591.649d4a","fb70a0a6.0abf"]]},{"id":"8e860f13.f24e2","type":"debug","z":"690f8a21.bfbb44","name":"","active":true,"console":"false","complete":"false","x":660,"y":174,"wires":[]},{"id":"16ecb591.649d4a","type":"switch","z":"690f8a21.bfbb44","name":"SensorRead","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Data","vt":"str"}],"checkall":"true","outputs":1,"x":427,"y":376,"wires":[["a341abf6.327bd8","b7bbf1a7.1599e"]]},{"id":"a341abf6.327bd8","type":"debug","z":"690f8a21.bfbb44","name":"","active":false,"console":"true","complete":"true","x":595.5,"y":456,"wires":[]},{"id":"fb70a0a6.0abf","type":"json","z":"690f8a21.bfbb44","name":"","x":586.5,"y":273,"wires":[["7ee2115a.d9344"]]},{"id":"7ee2115a.d9344","type":"debug","z":"690f8a21.bfbb44","name":"","active":false,"console":"false","complete":"false","x":902.5,"y":212,"wires":[]},{"id":"b7bbf1a7.1599e","type":"json","z":"690f8a21.bfbb44","name":"","x":385.5,"y":550,"wires":[["78a52e82.af891"]]},{"id":"78a52e82.af891","type":"Input Split","z":"690f8a21.bfbb44","name":"Split data","inputProps":["payload.Data"],"outputs":1,"x":567,"y":536,"wires":[["e7c4bebe.caf53"]]},{"id":"43822b01.63f9f4","type":"debug","z":"690f8a21.bfbb44","name":"","active":true,"console":"false","complete":"payload","x":868,"y":399,"wires":[]},{"id":"e7c4bebe.caf53","type":"function","z":"690f8a21.bfbb44","name":"Add timestamp","func":"msg.payload.timeStamp = new Date().getTime();\nmsg.payload.formattedTimeStamp = new Date().toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":738,"y":533,"wires":[["43822b01.63f9f4","e082dc45.7a78a"]]},{"id":"e082dc45.7a78a","type":"mongodb out","z":"690f8a21.bfbb44","mongodb":"ee300ea6.f0e94","name":"Temp and humidity","collection":"tempandhumidity","payonly":true,"upsert":false,"multi":false,"operation":"store","x":951.5,"y":570,"wires":[]},{"id":"b14ddf3b.d969","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"ee300ea6.f0e94","type":"mongodb","z":"690f8a21.bfbb44","hostname":"127.0.0.1","port":"27017","db":"sensors","name":"local sensors"}]