nodered.json
[{ "id": "fdc04975.177cb8", "type": "serial in", "z": "4f479a45.486dd4", "name": "Gateway", "serial": "703ac738.6e8f28", "x": 120, "y": 160, "wires": [
        ["a08349e4.86d4b8", "d89e759c.1dfb58", "ba26b604.7533f8"]
    ] }, { "id": "a08349e4.86d4b8", "type": "debug", "z": "4f479a45.486dd4", "name": "", "active": true, "console": "false", "complete": "false", "x": 380, "y": 94, "wires": [] }, { "id": "d89e759c.1dfb58", "type": "switch", "z": "4f479a45.486dd4", "name": "SensorRead", "property": "payload", "propertyType": "msg", "rules": [{ "t": "cont", "v": "Data", "vt": "str" }], "checkall": "true", "outputs": 1, "x": 147, "y": 296, "wires": [
        ["8d28589c.84a1c8", "828749d7.317758"]
    ] }, { "id": "8d28589c.84a1c8", "type": "debug", "z": "4f479a45.486dd4", "name": "", "active": false, "console": "true", "complete": "true", "x": 315.5, "y": 376, "wires": [] }, { "id": "ba26b604.7533f8", "type": "json", "z": "4f479a45.486dd4", "name": "", "x": 306.5, "y": 193, "wires": [
        ["28a055e3.3dc5aa"]
    ] }, { "id": "28a055e3.3dc5aa", "type": "debug", "z": "4f479a45.486dd4", "name": "", "active": false, "console": "false", "complete": "false", "x": 622.5, "y": 132, "wires": [] }, { "id": "828749d7.317758", "type": "json", "z": "4f479a45.486dd4", "name": "", "x": 105.5, "y": 470, "wires": [
        ["58f95e03.d8729"]
    ] }, { "id": "58f95e03.d8729", "type": "Input Split", "z": "4f479a45.486dd4", "name": "Split data", "inputProps": ["payload.Data"], "outputs": 1, "x": 287, "y": 456, "wires": [
        ["628c64ee.f5002c"]
    ] }, { "id": "42cb8921.c15e68", "type": "debug", "z": "4f479a45.486dd4", "name": "", "active": true, "console": "false", "complete": "payload", "x": 588, "y": 319, "wires": [] }, { "id": "628c64ee.f5002c", "type": "function", "z": "4f479a45.486dd4", "name": "Add timestamp", "func": "msg.payload.timeStamp = new Date().getTime();\nmsg.payload.formattedTimeStamp = new Date().toLocaleString();\nreturn msg;", "outputs": 1, "noerr": 0, "x": 460, "y": 420, "wires": [
        ["42cb8921.c15e68", "84a15ace.508458", "c4b9cf17.3918", "622076d0.847798"]
    ] }, { "id": "84a15ace.508458", "type": "mongodb out", "z": "4f479a45.486dd4", "mongodb": "1cffdbf7.b53414", "name": "Temp and humidity", "collection": "tempandhumidity", "payonly": true, "upsert": false, "multi": false, "operation": "store", "x": 530, "y": 520, "wires": [] }, { "id": "c4b9cf17.3918", "type": "kafka", "z": "4f479a45.486dd4", "zkquorum": "127.0.0.1:2181", "topics": "temp-and-hum-sensor", "debug": "", "x": 642.5, "y": 414, "wires": [] }, { "id": "622076d0.847798", "type": "influxdb out", "z": "4f479a45.486dd4", "influxdb": "dec35fb0.0d2f3", "name": "", "measurement": "tempandhum", "precision": "", "retentionPolicy": "", "x": 521.5, "y": 691, "wires": [] }, { "id": "703ac738.6e8f28", "type": "serial-port", "z": "", "serialport": "/dev/ttyUSB0", "serialbaud": "115200", "databits": "8", "parity": "none", "stopbits": "1", "newline": "\\n", "bin": "false", "out": "char", "addchar": false }, { "id": "1cffdbf7.b53414", "type": "mongodb", "z": "4f479a45.486dd4", "hostname": "127.0.0.1", "port": "27017", "db": "sensors", "name": "local sensors" }, { "id": "dec35fb0.0d2f3", "type": "influxdb", "z": "", "hostname": "127.0.0.1", "port": "8086", "protocol": "http", "database": "sensordata", "name": "", "usetls": false, "tls": "" }]